:root {
	--text-main: #000;
	--background-body: #fff;

	--gap-sm: 1rem;
	--gap-md: 2rem;
	--gap-xl: 4rem;
	--spacing-vertical: 2.5rem;
}

body {
	margin: var(--spacing-vertical, 2.5rem) auto;
	padding: 0 1rem;
	font-size: 1.25rem; // ~18px
	line-height: 1.6;
	word-wrap: break-word;
	text-rendering: optimizeLegibility;
	color: var(--text-main, #000);
	background-color: var(--background-body, #fff);

	/* custom styles */
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - (var(--spacing-vertical, 2.5rem) * 2));
}

a {
	color: inherit;

	&::before {
		content: "[";
	}

	&::after {
		content: "]";
	}
}

img {
	display: block;
	border-style: none;
}

embed,
figure,
img,
video {
	height: auto;
	max-width: 100%;
}

nav {
	> ul {
		display: flex;
		gap: var(--gap-sm);
		margin: 0;
		padding: 0;
	}

	li {
		list-style: none;
		padding: 0;
	}
}

footer {
	margin-top: auto;
}
