<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{{global.pageTitle}}</title>

	{{! global styles }}
	<link rel="stylesheet" href="@styles/index.scss">

	{{! block for page-specific styles }}
	{{#block 'styles'}}{{/block}}

</head>

<body>
	{{> header}}

	<div class="container">
		{{! output content block defined in a parent template }}
		{{#block 'content'}}{{/block}}
	</div>

	{{> footer }}

	{{! global scripts }}
	<script src="@scripts/index.js" defer></script>

	{{! block for page-specific scripts }}
	{{#block 'scripts'}}{{/block}}

</body>

</html>
