{{!< layout}}
{{#*inline "body"}}
<img src="assets/images/webpack.png" alt="Webpack logo" />
<h1>webpack starter</h1>
<p>✨ A lightweight foundation for your next webpack based frontend project.</p>
{{/inline}}
